CREATE TABLE Apis(
	ID uniqueidentifier NOT NULL,
	UriRoot nvarchar(max) NOT NULL,
	CreatedDate datetimeoffset NOT NULL,
	CreatedBy nvarchar(max) NOT NULL,
	UpdatedDate datetimeoffset NOT NULL,
	UpdatedBy nvarchar(max) NOT NULL,
	Name nvarchar(max) NOT NULL,
	Description nvarchar(max) NULL,
	SuggestedName nvarchar(max) NULL,
	SuggestedDescription nvarchar(max) NULL,
 CONSTRAINT PK_Apis PRIMARY KEY CLUSTERED 
(
	ID ASC
)
)
GO
